<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body class="flex-col">
  <nav class="nav">
    <ul class="flex-row">
      <li class="inline nav-item"><a href="/">Home</a></li>
      <li class="inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="center">
    <h1><a href="/dashboard">Your Dashboard</a></h1>
  </header>

  <main class=".col-flex-grow">
    {{{body}}}
  </main>

  <footer class="center">
    <a href="/dashboard/new">New Post</a>
  </footer>
</body>

<script src="/js/logout.js"></script>

</html>